<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" cellspacing="0" width="500">
    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>班级</th>
        <th>所选课程</th>
    </tr>
    {% for stu in stulist %}
        <tr>
            <td>{{ stu.sno }}</td>
            <td>{{ stu.sname }}</td>
            <td>{{ stu.cls.cname }}</td>
            <td>{% for foo in stu.course.all %}
                {{ foo.coursename }}
                {% endfor %}
            </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>