<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        img{
            width: 200px;
        }
    </style>
</head>
<body>
<table BORDER="1" cellspacing="0" width="500">
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>头像</th>
        <th>操作</th>
    </tr>
    {% for stu in stus %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ stu.sname }}</td>
            <td><img src="/media/{{ stu.photo }}"/></td>
            <td>
                <a href="/student6/download1/?photo={{ stu.photo }}&flag=1">预览</a>
                <a href="/student6/download1/?photo={{ stu.photo }}&flag=2">下载</a>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>